html, body {
  height: 100%;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
h1, h2 {
  font-family: 'Caladea', serif;
  margin: 0;
}
h1 {
  font-size: 63px;
  line-height: 72px;
}
h2 {
  font-size: 48px;
}
p {
  margin: 0;
  font-size: 29px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  opacity: .7;
}

.header {
  position: relative;
}
.navigation {
  width: 100%;
  max-width: 1028px;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 110px;
}
.menu {
  display: flex;
  list-style: none;
  margin: 5px 30px 0 0;
}
.menu__container--mobile {
  display: none;
}
.menu__link {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin: 0 38px 0 0;
  padding: 2px;
}
.menu__language {
  padding: 5px 25px 5px 0;
  margin: 0;
  font-size: 16px;
  pointer-events: none;
}
.language--selected {
  padding: 0 4px;
  border-bottom: 6px solid #D8D8D8;
}
.menu__language:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 14px;
  left: 35px;
  border-style: solid;
  border-color: #000 transparent transparent;
  border-width: 5px;
}
.language__container {
  position: relative;
  height: 35px;
  font-size: 16px;
}
.language__option {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 2px;
  font-size: 16px;
  transition: opacity .2s;
}
.language__container:hover .language__option {
  opacity: 1;
  pointer-events: initial;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  margin: 100px 0 0;
  background-color: #F1F1F1;
}
.footer__title {
  padding: 64px 0 0;
  line-height: 66px;
  text-align: center;
}
.footer__text {
  line-height: 39px;
  text-align: center;
}
.footer__text a {
  font-weight: bold;
  border-bottom: 6px solid #D8D8D8;
}
.footer__copyright {
  margin: 69px 0 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 26px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.contact__title {
  margin: 0 0 0 30px;
}
.contact__text {
  margin: 70px 0 0 30px;
  font-size: 24px;
  line-height: 39px;
}
.contact__text a {
  font-weight: bold;
  border-bottom: 6px solid #D8D8D8;
}

.image__logo {
  width: 160px;
  height: 45px;
  margin: 0 0 0 30px;
}
.image__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 850px;
  opacity: 0.07;
  pointer-events: none;
}
.screen_reader {
  position: absolute;
  top: auto;
  left: -100%;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 69px;
  }
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 26px;
  }

  .image__logo {
    width: 128px;
    height: 36px;
  }
}

@media only screen and (max-width: 880px) {
  .navigation {
    margin: 20px auto 34px;
  }
  .image__logo {
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 23px;
    margin: 0 0 0 20px;
  }
  .image__background {
    height: 360px;
    object-fit: cover;
  }
  .menu {
    display: none;
  }
  .language__container--mobile {
    position: absolute;
    z-index: 4;
    top: 17px;
    right: 90px;
    border-bottom: 6px solid #D8D8D8;
  }
  .language__container--mobile select {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    background: none;
    border: 0;
    text-transform: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }
  .language__container--mobile:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 10px;
    left: 28px;
    border-style: solid;
    border-color: #000 transparent transparent;
    border-width: 5px;
  }
  .menu__container--mobile {
    display: block;
    margin: 2px 20px 0 0;
  }
  .menu__icon {
    display: flex;
    flex-direction: column;
    user-select: none;
  }
  .menu--mobile {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 105px 0 0;
    width: 100%;
    height: 100vh;

    text-align: center;
    background-color: #fff;
    list-style: none;
    transform-origin: 0% 0%;
    transform: translate(-150%, 0);
    transition: all 0.3s;
    z-index: 3;
  }
  .menu--mobile li {
    margin: 0 0 20px;
  }
  .menu--mobile li a {
    font-size: 18px;
    line-height: 31px;
    margin: 0;
    padding: 0;
  }
  #menu__toggle {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu__line {
    z-index: 4;
    width: 18px;
    height: 2px;
    margin: 2px 0;
    background-color: #000;
    transition: all .2s;
    transform-origin: 0 0;
  }
  .menu__line:last-of-type {
    transform-origin: 0 100%;
  }
  #menu__toggle:checked ~ .menu--mobile {
    opacity: 1 !important;
    transform: translate(0, 0);
  }
  #menu__toggle:checked ~ .menu__line:nth-of-type(1) {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__line:nth-of-type(2) {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__line:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  .header__blocks {
    flex-direction: column;
  }

  .contact__title {
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 0 20px;
  }
  .contact__text {
    font-size: 20px;
    margin: 20px;
  }

  .footer {
    margin: 30px 0 0;
  }
  .footer__title {
    padding: 45px 0 0;
    font-size: 28px;
    line-height: 38px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 30px;
  }
  .footer__copyright {
    margin: 45px 0 0;
  }
}
