html, body {
  height: 100%;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
h1, h2 {
  font-family: 'Caladea', serif;
  margin: 0;
}
h1 {
  font-size: 63px;
  line-height: 72px;
}
h2 {
  font-size: 48px;
}
p {
  margin: 0;
  font-size: 29px;
}
a {
  text-decoration: none;
  color: #000;
}

.header {
  position: relative;
}
.navigation {
  width: 100%;
  max-width: 1028px;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 110px;
}
.menu {
  display: flex;
  list-style: none;
  margin: 5px 30px 0 0;
}
.menu__link {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin: 0 38px 0 0;
  padding: 2px;
}
.menu__language {
  padding: 5px 25px 5px 0;
  margin: 0;
  font-size: 16px;
  pointer-events: none;
}
.language--selected {
  padding: 0 4px;
  border-bottom: 6px solid #D8D8D8;
}
.menu__language:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 14px;
  left: 35px;
  border-style: solid;
  border-color: #000 transparent transparent;
  border-width: 5px;
  transition: top .3s;
}
.language__container {
  position: relative;
  height: 35px;
  font-size: 16px;
}
.language__option {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 2px;
  font-size: 16px;
  transition: opacity .2s;
}
.language__container:hover .language__option {
  opacity: 1;
  pointer-events: initial;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  margin: 100px 0 0;
  background-color: #F1F1F1;
}
.footer__title {
  padding: 64px 0 0;
  line-height: 66px;
  text-align: center;
}
.footer__text {
  line-height: 39px;
  text-align: center;
}
.footer__text a {
  font-weight: bold;
  border-bottom: 6px solid #D8D8D8;
}
.footer__copyright {
  margin: 69px 0 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 26px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.contact__text {
  margin: 0 0 0 30px;
}

.image__logo {
  width: 160px;
  height: 45px;
  margin: 0 0 0 30px;
}
.image__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 850px;
  opacity: 0.07;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 69px;
  }
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 26px;
  }

  .image__logo {
    width: 128px;
    height: 36px;
  }
}

@media only screen and (max-width: 880px) {
  .navigation {
    margin: 20px auto 34px;
  }
  .image__logo {
    width: 80px;
    height: 23px;
    margin: 0 0 0 20px;
  }
  .image__background {
    height: 395px;
    object-fit: cover;
  }
  .menu {
    display: none;
  }

  .header__blocks {
    flex-direction: column;
  }

  .contact__text {
    font-size: 20px;
    margin: 0 20px;
  }

  .footer {
    margin: 30px 0 0;
  }
  .footer__title {
    padding: 45px 0 0;
    font-size: 28px;
    line-height: 38px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 30px;
  }
  .footer__copyright {
    margin: 45px 0 0;
  }
}
