html, body {
  height: 100%;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
h1, h2 {
  font-family: 'Caladea', serif;
  margin: 0;
}
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation {
  width: 100%;
  max-width: 968px;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 110px;
  padding: 0 9px 0 0;
}
.menu {
  display: flex;
  list-style: none;
  margin: 5px 0 0;
}
.menu__link {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin: 0 38px 0 0;
  padding: 2px;
}
.menu__language {
  position: relative;
  padding: 5px 25px 5px 0;
  margin: 0;
  font-size: 16px;
}
.language--selected {
  padding: 0 4px;
  border-bottom: 6px solid #D8D8D8;
}
.menu__language:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 14px;
  left: 35px;
  border-style: solid;
  border-color: #000 transparent transparent;
  border-width: 5px;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  margin: 100px 0 0;
  background-color: #F1F1F1;
}
.footer__title {
  padding: 64px 0 0;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Caladea', serif;
  line-height: 66px;
  text-align: center;
}
.footer__text {
  font-size: 29px;
  line-height: 39px;
  text-align: center;
}
.footer__text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 6px solid #D8D8D8;
}
.footer__copyright {
  margin: 69px 0 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 26px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.image__logo {
  width: 160px;
  height: 45px;
}
.image__background {
  width: 100%;
  height: 850px;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
}
.image__content {
  width: 592px;
  height: 527px;
  padding: 26px 20px 20px;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  border-left: 6px solid #000;
}
