.header__content {
  width: 100%;
  max-width: 1038px;
  margin: 0 auto;
}
.header__content h1 {
  max-width: 728px;
  margin: 0 30px;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  margin: 73px 0 0;
  padding: 0 30px 75px;
}
.block {
  display: flex;
  align-items: center;
  width: 294px;
  height: 248px;
  border: 6px solid #000;
  margin: 0 5px 0 0;
}
.block:last-child {
  margin: 0;
}
.block p {
  font-size: 32px;
  line-height: 40px;
  padding: 0 40px;
}

.content {
  margin: 74px auto 0;
  width: 100%;
  max-width: 1038px;
}

.content__platforms {
  position: relative;
  height: 690px;
  margin: 0 30px;
}
.platforms__text {
  width: 480px;
  height: 446px;
  position: absolute;
  z-index: 2;
  padding: 0 20px 20px 0;
  top: 0;
  left: 0;
}
.platforms__text:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 340px;
  height: 446px;
  border-bottom: 6px solid #000
}
.platforms__text h2 {
  line-height: 56px;
  padding: 7px 18px 7px 0;
}
.platforms__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.platforms__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.platforms__list li:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.platforms__list li:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
.platforms__image {
  position: absolute;
  top: 92px;
  right: 0px;
}
.platforms__image:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 142px;
  height: 354px;
  background-color: #fff;
}
.platforms__image:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 158px;
  height: 368px;
  border-top: 6px solid #fff;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  border-left: 6px solid #fff;
}
.image__content {
  width: 592px;
  height: 527px;
  padding: 20px;
  border: 6px solid #000;
}

.content__services {
  margin: 0 30px;
}
.content__services h2 {
  line-height: 56px;
  margin: 38px 0 0;
  width: 300px;
}
.services__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.services__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.services__list li:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.services__list li:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
.services__platforms__links {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .block p {
    font-size: 29px;
  }

  .platforms__list li {
    font-size: 26px;
    line-height: 42px;
  }
  .platforms__list li:after {
    top: 18px;
  }
  .platforms__list li:before {
    top: 15px;
  }

  .services__list li {
    font-size: 26px;
    line-height: 42px;
  }
  .services__list li:after {
    top: 18px;
  }
  .services__list li:before {
    top: 15px;
  }
}

@media only screen and (max-width: 880px) {
  .header__content {
    margin: 0 auto 30px;
    height: 290px;
  }
  .header__content h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0 20px;
  }
  .header__blocks {
    margin: 18px 0 0;
    padding: 0 20px;
  }
  .block {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
  }
  .block p {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    padding: 12px;
    border-bottom: 2px solid #000;
    width: 100%;
  }
  .block:last-child p {
    border-bottom: 0;
  }

  .content {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
  }
  .content__platforms {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .platforms__text {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .platforms__text h2 {
    font-size: 28px;
    line-height: 38px;
    padding: 0 20px;
  }
  .platforms__text:before {
    display: none;
  }
  .platforms__list {
    margin: 20px;
    padding: 0 0 0 30px;
    list-style: none;
  }
  .platforms__list li {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding: 4px 0 3px;
  }
  .platforms__list li:after {
    top: 14px;
    left: -25px;
    border-bottom: 11px solid #fff;
    border-left: 5px solid transparent;
  }
  .platforms__list li:before {
    top: 11px;
    left: -29px;
    border-bottom: 16px solid #000;
    border-left: 9px solid transparent;
  }
  .platforms__image {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .platforms__image:before {
    display: none;
  }
  .platforms__image:after {
    display: none;
  }
  .image__content {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
  }

  .content__services {
    margin: 0;
    padding: 0 20px;
  }
  .content__services h2 {
    margin: 30px 0 0;
    font-size: 28px;
    line-height: 38px;
    width: 100%;
  }
  .services__list {
    margin: 20px 0 0 0;
    padding: 0 0 0 30px;
    list-style: none;
  }
  .services__list li {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding: 4px 0 3px;
  }
  .services__list li:after {
    top: 14px;
    left: -25px;
    border-bottom: 11px solid #fff;
    border-left: 5px solid transparent;
  }
  .services__list li:before {
    top: 11px;
    left: -29px;
    border-bottom: 16px solid #000;
    border-left: 9px solid transparent;
  }

  .services__platforms__links {
    display: flex;
    flex-direction: column;
    margin: 6px 20px 0;
  }

  .services__link,
  .products__link {
    height: 52px;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 20px 0 0;
  }
}
