.header__content {
  width: 100%;
  max-width: 978px;
  margin: 116px auto 0;
}
.header__content h1 {
  max-width: 728px;
  font-size: 63px;
  line-height: 72px;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  margin: 73px 0 0;
  padding: 0 0 75px;
}
.block {
  display: flex;
  align-items: center;
  width: 294px;
  height: 248px;
  border: 6px solid #000;
}
.block p {
  font-size: 32px;
  line-height: 40px;
  padding: 0 40px;
}

.content {
  margin: 74px auto 0;
  width: 100%;
  max-width: 978px;
}

.content__platforms {
  position: relative;
  height: 690px;
}
.platforms__text {
  width: 480px;
  height: 446px;
  position: absolute;
  z-index: 1;
  border-bottom: 6px solid #000;
  padding: 0 20px 20px 0;
  top: 0;
  left: 0;
}
.platforms__text:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 340px;
  height: 446px;
  background-color: #fff;
}
.platforms__text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 476px;
  height: 426px;
  background-color: #fff;
}
.platforms__text h2 {
  font-size: 48px;
  line-height: 56px;
  padding: 7px 18px 7px 0;
}
.platforms__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.platforms__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.platforms__list li:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.platforms__list li:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
.platforms__image {
  position: absolute;
  top: 92px;
  right: 0px;
}
.platforms__image:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 74%;
  height: 64%;
  border-top: 6px solid #000;
  border-left: 6px solid #000;
}

.content__services h2 {
  font-size: 48px;
  line-height: 56px;
  margin: 38px 0 0;
  width: 300px;
}
.services__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.services__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.services__list li:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.services__list li:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
