body {
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
h1, h2 {
  font-family: 'Caladea', serif;
  margin: 0;
}
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation {
  width: 100%;
  max-width: 968px;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 0;
  padding: 0 9px 0 0;
}
.menu {
  display: flex;
  list-style: none;
  margin: 5px 0 0;
}
.menu__link {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin: 0 38px 0 0;
  padding: 2px;
}
.menu__language {
  position: relative;
  padding: 5px 25px 5px 0;
  margin: 0;
  font-size: 16px;
}
.language--selected {
  padding: 0 4px;
  border-bottom: 6px solid #D8D8D8;
}
.menu__language:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 14px;
  left: 35px;
  border-style: solid;
  border-color: #000 transparent transparent;
  border-width: 5px;
}

.header__content {
  width: 100%;
  max-width: 978px;
  margin: 116px auto 0;
}
.header__content h1 {
  max-width: 728px;
  font-size: 63px;
  line-height: 72px;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  margin: 73px 0 0;
  padding: 0 0 75px;
}
.block {
  display: flex;
  align-items: center;
  width: 294px;
  height: 248px;
  border: 6px solid #000;
}
.block p {
  font-size: 32px;
  line-height: 40px;
  padding: 0 40px;
}

.content {
  margin: 74px auto 0;
  max-width: 978px;
}

.content__platforms {
  position: relative;
  height: 690px;
}
.platforms__text {
  width: 480px;
  height: 446px;
  position: absolute;
  z-index: 1;
  border-bottom: 6px solid #000;
  padding: 0 20px 20px 0;
  top: 0;
  left: 0;
}
.platforms__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 340px;
  height: 446px;
  background-color: #fff;
}
.platforms__text::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 476px;
  height: 426px;
  background-color: #fff;
}
.platforms__text h2 {
  font-size: 48px;
  line-height: 56px;
  padding: 7px 18px 7px 0;
}
.platforms__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.platforms__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.platforms__list li::after {
  position: absolute;
  content: none;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.platforms__list li::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
.platforms__image {
  position: absolute;
  top: 92px;
  right: 0px;
}
.platforms__image::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 74%;
  height: 64%;
  border-top: 6px solid #000;
  border-left: 6px solid #000;
}

.content__services {

}
.content__services h2 {
  font-size: 48px;
  line-height: 56px;
  margin: 38px 0 0;
  width: 300px;
}
.services__list {
  margin: 38px 0 0 5px;
  list-style: none;
}
.services__list li {
  position: relative;
  font-size: 29px;
  line-height: 45px;
  padding: 4px 0 3px;
}
.services__list li::after {
  position: absolute;
  content: none;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: -32px;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
}
.services__list li::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 17px;
  left: -36px;
  border-bottom: 20px solid #000;
  border-left: 13px solid transparent;
  width: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}

.footer {
  margin: 100px 0 0;
  background-color: #F1F1F1;
}
.footer__title {
  padding: 64px 0 0;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Caladea', serif;
  line-height: 66px;
  text-align: center;
}
.footer__text {
  font-size: 29px;
  line-height: 39px;
  text-align: center;
}
.footer__text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 6px solid #D8D8D8;
}
.footer__copyright {
  margin: 69px 0 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 26px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.image__logo {
  width: 160px;
  height: 45px;
}
.image__background {
  width: 100%;
  height: 850px;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
}
.image__content {
  width: 592px;
  height: 527px;
  padding: 26px 20px 20px;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  border-left: 6px solid #000;
}
