body {
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  font-family: 'Caladea', serif;
  margin: 0;
}
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation {
  width: 100%;
  max-width: 968px;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 0;
  padding: 0 9px 0 0;
}
.menu {
  display: flex;
  list-style: none;
  margin: 5px 0 0;
}
.menu a {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  margin: 0 38px 0 0;
  padding: 2px;
}

.header__content {
  width: 100%;
  max-width: 978px;
  margin: 116px auto 0;
}
.header__content h1 {
  max-width: 728px;
  font-size: 63px;
  line-height: 72px;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  margin: 73px 0 0;
  padding: 0 0 75px;
}
.block {
  display: flex;
  align-items: center;
  width: 294px;
  height: 248px;
  border: 6px solid #000;
}
.block p {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 40px;
}

.content {
  margin: 74px auto 0;
  max-width: 968px;
}

.content__platforms {
  display: flex;
  justify-content: center;
}
.platforms__text h2 {
  font-size: 48px;
  line-height: 56px;
}
.platforms__list {
  margin: 0;
}
.platforms__list li {
  font-size: 29px;
  letter-spacing: 0;
  line-height: 45px;
}

.content__services {

}
.content__services h2 {
  font-size: 48px;
  line-height: 56px;
}
.services__list {
  margin: 0;
}
.services__list li {
  font-size: 29px;
  line-height: 45px;
}

.footer {
  margin: 100px 0 0;
  background-color: #F1F1F1;
}
.footer__title {
  padding: 57px 0 0;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Caladea', serif;
  line-height: 66px;
  text-align: center;
}
.footer__text {
  font-size: 29px;
  font-weight: bold;
  line-height: 39px;
  text-align: center;
}
.footer__copyright {
  margin: 69px 0 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 26px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.image {

}
.image__logo {
  width: 160px;
  height: 45px;
}
.image__background {
  width: 100%;
  height: 850px;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
}
.image__content {
  width: 592px;
  height: 526px;
}
